@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search {
        @apply lg:flex hidden w-full max-w-[500px];
    }

    .search__input {
        @apply border-2 border-gray-500 px-6 py-2 w-full;
    }

    .search__icon {
        @apply bg-gray-500 text-white text-[26px] grid place-items-center px-4;
    }
}

.search__result {
    background: white;
    width: 400px;
    margin-top: 10px;
    position: absolute;
    top: 70px;
}

.search__result::-webkit-scrollbar {
    display: none;
}

.search__suggestion-line,
.search_loading {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: block;
}

.search__suggestion-line:hover {
    background: rgb(227, 227, 227);
}